body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 360px) {
  .container {
    max-width: 1500px; } }

.bg_info {
  padding: 35px 0px; }

.bg_image {
  background: url(/img/bg_img.jpg) no-repeat;
  background-size: cover; }

.number {
  text-align: right; }

.number a {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }
  @media screen and (max-width: 1199px) {
    .number a {
      font-size: 16px; } }

@media screen and (max-width: 576px) {
  .disabled_576 {
    display: none; } }

.consultant_text {
  text-align: right;
  color: #fff;
  font-size: 14px; }
  @media screen and (max-width: 1199px) {
    .consultant_text {
      font-size: 12px; } }

.adres::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  margin-left: -35px;
  margin-top: 5px;
  background: url(/img/here.png) center 0 no-repeat; }

.adres {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin-top: 15px; }
  @media screen and (max-width: 1199px) {
    .adres {
      font-size: 14px; } }

.offset-1 {
  margin-left: 4%; }

.on_map a {
  font-size: 14px;
  font-weight: 450;
  color: #f47621;
  text-decoration: underline; }
  @media screen and (max-width: 1199px) {
    .on_map a {
      font-size: 12px; } }

@media screen and (max-width: 1200px) {
  .disabled {
    display: none; } }

.time_work::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  margin-left: -35px;
  margin-top: 5px;
  background: url(/img/time.png) center 0 no-repeat; }

.time_work {
  font-size: 14px;
  font-weight: 400;
  color: #fff; }

.time {
  font-size: 16px;
  font-weight: 450;
  color: #fff; }

.feedback {
  padding: 0px;
  float: right;
  border: none;
  background-color: transparent; }
  .feedback a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1200px) {
      .feedback a {
        font-size: 12px;
        padding: 10px 15px; } }

.feedback_link_modal {
  border: 1px solid #f47621;
  padding: 10px 25px; }
  .feedback_link_modal:hover {
    background-color: #f4752118;
    transition: 0.3s; }

.line_white {
  border: 0.5px solid #ffffff44;
  margin-top: 25px; }

.headline_column_left {
  font-size: 50px;
  font-weight: 500;
  color: #fff; }
  @media screen and (max-width: 320px) {
    .headline_column_left {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 15px; } }

.subtitle_left_column {
  font-size: 28px;
  font-weight: 450;
  color: #fff;
  text-transform: uppercase; }
  @media screen and (max-width: 320px) {
    .subtitle_left_column {
      font-size: 16px;
      color: #fff;
      margin-bottom: 15px; } }

.bg_left_column {
  padding: 50px 0px; }
  @media screen and (max-width: 320px) {
    .bg_left_column {
      padding: 15px 0px; } }

.bold_orange {
  color: #f47621;
  border-bottom: 2px solid #f47621; }

.small_text_left_column {
  font-size: 20px;
  color: #fff;
  padding: 10px 0px; }
  @media screen and (max-width: 320px) {
    .small_text_left_column {
      font-size: 14px; } }

.form_configurator {
  padding: 35px 0px; }

.configurator {
  padding: 35px 35px 10px;
  background-color: #0000009a;
  border-radius: 12px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1199px) {
    .configurator {
      margin-bottom: 15px; } }

.headline_info {
  margin-top: -6px;
  margin-left: 13px; }
  @media screen and (max-width: 410px) {
    .headline_info {
      margin-top: -10px;
      margin-left: 0px; } }

.headline_configurator {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  display: inline-block; }

.info {
  cursor: pointer;
  display: inline-block; }

.popover {
  margin-left: 15px; }

.subtitle_configurator {
  font-size: 16px;
  font-weight: 350;
  color: #fff;
  margin-bottom: 40px; }

.form_configurator .form-control {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: none; }

.form-row {
  margin-bottom: 35px; }

.jq-selectbox__select {
  padding: 5px 100px 0px 15px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  height: 45px;
  font-size: 16px;
  width: 300px; }
  @media screen and (max-width: 1365px) {
    .jq-selectbox__select {
      width: 250px; } }
  @media screen and (max-width: 320px) {
    .jq-selectbox__select {
      width: 215px; } }
  @media screen and (max-width: 1199px) {
    .jq-selectbox__select {
      width: 520px; } }
  @media screen and (max-width: 1150px) {
    .jq-selectbox__select {
      width: 320px; } }
  @media screen and (max-width: 768px) {
    .jq-selectbox__select {
      width: 240px; } }
  @media screen and (max-width: 568px) {
    .jq-selectbox__select {
      width: 240px; } }

.jq-selectbox__select:hover {
  transition: 0.3s;
  box-shadow: none;
  background: none;
  border: 1px solid #f47621; }

.jq-selectbox__select:active {
  background-color: transparent;
  background: none; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #fff;
  box-shadow: none;
  border: 1px solid #f47621; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 15px;
  height: 10px;
  width: 10px;
  border: 1px solid #fff;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg); }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-color: #f47621;
  transition: 0.3s; }

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #f47621;
  border-radius: 4px;
  box-shadow: none;
  color: #fff;
  margin-top: 5px;
  top: 50px;
  overflow: auto; }
  @media screen and (max-width: 320px) {
    .jq-selectbox__dropdown {
      background-color: #fff; } }

input[type="search"] {
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff; }

.jq-selectbox li:hover {
  background-color: #f47621;
  color: #FFF;
  transition: 0.3s; }

.jq-selectbox__dropdown {
  background: #404040;
  background: -moz-linear-gradient(180deg, #404040 0%, black 100%);
  background: -webkit-linear-gradient(180deg, #404040 0%, black 100%);
  background: linear-gradient(180deg, #404040 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#404040", endColorstr="#000000", GradientType=1); }

.jq-selectbox__dropdown li {
  color: #f47621;
  line-height: 1.5;
  border-bottom: 0.5px solid #bdbdbd27;
  font-size: 16px; }
  @media screen and (max-width: 320px) {
    .jq-selectbox__dropdown li {
      color: #f47621; } }

.jq-selectbox__select-text {
  width: 150px; }

.configurator_counter {
  padding: 25px 25px;
  background-color: #0000009a;
  border-radius: 12px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1200px) {
    .configurator_counter {
      margin-bottom: 15px;
      text-align: center; } }

.counter_before {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px; }

.item_got {
  font-size: 18px;
  font-weight: 450;
  color: #f47621; }

.item_got_increased {
  font-size: 18px;
  font-weight: 450;
  color: #f47621; }

.tuning_button {
  padding: 0px;
  margin-top: 30px;
  float: right;
  border: none;
  background-color: transparent; }
  @media screen and (max-width: 1199px) {
    .tuning_button {
      float: none; } }
  .tuning_button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; }

.tuning_link_modal {
  border: 1px solid #f47621;
  padding: 10px 45px; }
  .tuning_link_modal:hover {
    background-color: #f4752118;
    transition: 0.3s; }

.menu__background {
  padding: 25px 0px; }

.menu__navbar ul {
  color: #fff;
  line-height: 1.8;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 20px;
  justify-content: space-between; }

.menu__navbar .navbar .nav-item .nav-link {
  padding: 0; }
  .menu__navbar .navbar .nav-item .nav-link:hover {
    color: #f47621;
    transition: 0.3s; }

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 35px; }

.navbar {
  padding: 0px; }

.navbar-toggler {
  padding: 0px;
  border: transparent; }

.bg_image_about_us {
  background: url(/img/bg_about_us.png) no-repeat;
  background-size: cover; }

.bg_info_content {
  padding: 50px 0px 50px; }

.headline_content {
  font-size: 50px;
  font-weight: 550;
  color: #f47621;
  padding: 0px 0px 25px; }

.headline_content::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #f47621;
  width: 50px;
  margin-top: 5px;
  margin-left: 35px; }

.headline_text_left_column_about_us {
  font-size: 26px;
  color: #000;
  padding: 0px 0px 25px;
  font-weight: 550;
  text-transform: uppercase; }

.about_us_text {
  font-size: 20px;
  font-weight: 400;
  color: #000; }

.about_us_text_important {
  font-size: 20px;
  font-weight: 400;
  color: #f47621; }

.right_column_headline_about_us {
  font-size: 30px;
  font-weight: 550;
  color: #f47621;
  padding: 10px 0px 10px; }

.right_column_headline_about_us::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #f47621;
  width: 50px;
  margin-top: -40px;
  margin-left: 35px; }

.info_tuning_text_right {
  font-size: 14px;
  color: #000;
  font-weight: 450; }

.about_us_text_step::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  margin-left: -35px;
  margin-top: 10px;
  background: url(/img/orange_box.png) center 0 no-repeat; }

.about_us_text_step {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-left: 25px;
  padding: 0px 0px 15px; }

.selected_text {
  font-weight: 550; }

.bg_image_important {
  background: url(/img/img_warning.jpg) no-repeat;
  background-size: cover; }

.headline_content {
  font-size: 50px;
  font-weight: 550;
  color: #f47621;
  padding: 0px 0px 25px; }

.headline_content::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #f47621;
  width: 50px;
  margin-top: 5px;
  margin-left: 35px; }

.box_step {
  padding: 25px 25px 25px;
  background: #eeaeca;
  background: #eee9ae;
  background: -moz-linear-gradient(180deg, rgba(238, 233, 174, 0) 0%, rgba(255, 171, 0, 0.0508578) 100%);
  background: -webkit-linear-gradient(180deg, rgba(238, 233, 174, 0) 0%, rgba(255, 171, 0, 0.0508578) 100%);
  background: linear-gradient(180deg, rgba(238, 233, 174, 0) 0%, rgba(255, 171, 0, 0.0508578) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee9ae", endColorstr="#ffab00", GradientType=1); }
  .box_step:hover {
    background-color: rgba(255, 255, 255, 0.014);
    transition: 0.4s;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; }

.headline_icon {
  padding: 0px 0px 15px; }

.headline_step {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 0px 10px; }

.box_step_text {
  font-size: 16px;
  color: #fff;
  font-weight: 350; }

.selected_text_step {
  color: #f47621;
  font-weight: 550; }

.feedback_box_important {
  padding: 75px 0px; }
  @media screen and (max-width: 768px) {
    .feedback_box_important {
      margin-top: 25px;
      padding: 15px; } }

.headline_feedback_important::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #f47621;
  width: 50px;
  margin-top: 0px;
  margin-left: 35px; }

.headline_feedback_important {
  font-size: 36px;
  color: #f47621;
  font-weight: 550; }

.feedback_info {
  color: #fff;
  font-size: 16px;
  width: 470px;
  display: inline-block; }
  @media screen and (max-width: 320px) {
    .feedback_info {
      width: 100%; } }

.feedback_important {
  padding: 0px;
  border: none;
  background-color: transparent;
  display: inline-block; }
  @media screen and (max-width: 618px) {
    .feedback_important {
      display: block;
      text-align: left;
      margin-top: 25px; } }
  .feedback_important a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1200px) {
      .feedback_important a {
        font-size: 14px;
        padding: 10px 15px; } }

.feedback_link_modal {
  border: 1px solid #f47621;
  padding: 10px 25px; }
  .feedback_link_modal:hover {
    background-color: #f4752118;
    transition: 0.3s; }

.configurator_important {
  padding: 0px;
  border: none;
  background-color: transparent;
  display: inline-block; }
  @media screen and (max-width: 618px) {
    .configurator_important {
      display: block;
      text-align: left;
      margin-top: 25px; } }
  .configurator_important a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; }
    @media screen and (max-width: 1200px) {
      .configurator_important a {
        font-size: 14px;
        padding: 10px 15px; } }

.configurator_link_modal {
  border: 1px solid #f47621;
  padding: 10px 25px; }
  .configurator_link_modal:hover {
    background-color: #f4752118;
    transition: 0.3s; }

/* Modal Window */
.modal {
  z-index: 100001; }

.modal-dialog {
  max-width: 1400px; }

.modal .custom-control-label a {
  text-decoration: underline; }

.modal .custom-control-label a:hover {
  text-decoration: none; }

.modal-header {
  border-bottom: none;
  background-color: #ffffff;
  color: #fff;
  border-top: 15px solid #50b3ff; }

.modal-footer {
  justify-content: flex-start;
  border-top: none;
  padding: 0px 45px 75px; }
  @media screen and (max-width: 450px) {
    .modal-footer {
      padding: 0px 35px 35px; } }

.modal-content {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 0;
  border: none; }

.form-control-sm {
  height: 35px;
  border: transparent;
  border-radius: 0; }

.modal-content .form-control {
  background-color: transparent;
  border-bottom: 1px solid #b6b6b6;
  color: #333333;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px; }
  .modal-content .form-control:focus {
    background-color: #f5f5f5;
    box-shadow: none; }

.modal-content .form-control option {
  color: #000; }

.modal-content .custom-control-label::before {
  background-color: transparent;
  border: 1px solid #3f3f3f; }

.modal-content .custom-control-input:checked ~ .custom-control-label::before {
  color: #3f3f3f;
  background-color: #3f3f3f; }

.modal-header-feedback {
  padding: 0px; }

.modal-header {
  position: relative;
  display: block;
  border-radius: 0;
  padding: 45px; }

.custom-control-label::after {
  cursor: pointer; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0; }

.custom-control-checkbox {
  padding-left: 0.9rem;
  cursor: pointer; }

.modal-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 200;
  color: #000; }

@media screen and (max-width: 450px) {
  .modal-header {
    padding: 35px 25px 15px; } }

.modal-body {
  padding: 0px 45px 25px;
  color: #000; }
  @media screen and (max-width: 450px) {
    .modal-body {
      padding: 0px 25px 15px; } }

.modal-header p {
  font-size: 18;
  line-height: 1.8;
  color: #000; }

.modal-header .close {
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 100;
  opacity: 1;
  line-height: inherit;
  padding: 1rem;
  margin: 0; }
  @media screen and (max-width: 320px) {
    .modal-header .close {
      margin-right: -25px; } }

input ~ label[for="soglasie"] {
  width: 100%;
  font-size: 16px;
  margin: 25px 0px 0px 10px;
  padding: 0px; }

input ~ label[for="sogl"] {
  width: 100%;
  font-size: 16px;
  margin: 10px 0px 0px 10px;
  padding: 0px; }

.button__to__send_zayavka__formmodal {
  background-color: #50b3ff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 45px; }
  .button__to__send_zayavka__formmodal:hover {
    background-color: #62b9fc; }
  .button__to__send_zayavka__formmodal:active {
    background-color: #3987c2; }
  @media screen and (max-width: 450px) {
    .button__to__send_zayavka__formmodal {
      padding: 15px; } }
