.bg_image_about_us {
    background: url(/img/bg_about_us.png) no-repeat;
    background-size: cover;
    padding: 50px 0px 75px;
    @media screen and (max-width: 320px) {        
        padding: 15px 0px 15px;
       }   
}

.headline_content {
    font-size: 50px;
    font-weight: 550;
    color: #f47621;
    @media screen and (max-width: 320px) {        
        font-size: 24px;
       } 
}


.headline_content::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-bottom: 1px solid #f47621;
    width: 50px;
    margin-top: 5px;
    margin-left: 35px;

    @media screen and (max-width: 576px) {
        display: none;
    }
}

// line row one about us

.left_column_about_us {
    padding: 35px 45px;
    background-color: #0000009a;
    border-radius: 12px;
    @media screen and (max-width: 576px) {
        padding: 15px 25px;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 25px;
    }
    &:hover {
        box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
        transition: 0.2s;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
}

.right_column_about_us {
    padding: 35px 45px;
    background-color: #0000009a;
    border-radius: 12px;
    @media screen and (max-width: 576px) {
        padding: 15px 25px;
    }
    &:hover {
        box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
        transition: 0.2s;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
}



// end

.headline_text_left_column_about_us {
    font-size: 26px;
    color: #f47621;
    padding: 0px 0px 25px;
    font-weight: 550;
    text-transform: uppercase;
}

.headline_text_right_column_about_us {
    font-size: 20px;
    color: #f47621;
    padding: 0px 0px 15px;
    font-weight: 550;
}

.about_us_text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.about_us_text_important {
    padding: 5px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    color: #f47621;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.info_tuning_text_right {
    font-size: 14px;
    color: #fff;
    font-weight: 450;
}


.about_us_text_step::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: -35px;
    margin-top: 7px;
    background: url(/img/orange_box.png) center 0 no-repeat;
}

.about_us_text_step {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding: 0px 25px 15px;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}


.selected_text {
    font-weight: 550;
}