
.bg_basement{
    background-color: #383838;
    padding: 35px;
    text-align: center;
}

.copyright{
    font-size: 12px;
    color: #828386;
    margin-top: 15px;  
     }

.copyright_small_text{
    font-size: 12px;
    color: #828386; 
    margin-top: 15px;   
}

.political{
    font-size: 12px;
    color: #828386;    
    a{
        color: #828386;
    }
}