.bg_info {
    padding: 35px 0px;
}

.bg_image {
    background: url(/img/bg_img.jpg) no-repeat;
    background-size: cover;
}

.number {
    text-align: right;
}

.number a {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    @media screen and (max-width: 1199px) {
        font-size: 16px;       
     }
}

.disabled_576{
    @media screen and (max-width: 576px) {
        display: none;     
     }
}

.consultant_text {
    text-align: right;
    color: #fff;
    font-size: 14px;
    @media screen and (max-width: 1199px) {
        font-size: 12px;       
     }
}

.adres::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: -35px;
    margin-top: 5px;
    background: url(/img/here.png) center 0 no-repeat;
}

.adres {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    margin-top: 15px;
    @media screen and (max-width: 1199px) {
        font-size: 14px;       
     }
}

.offset-1 {
    margin-left: 4%;
}

.on_map a {
    font-size: 14px;
    font-weight: 450;
    color: #f47621;
    text-decoration: underline;
    @media screen and (max-width: 1199px) {
        font-size: 12px;       
     }
}

.disabled{
    @media screen and (max-width: 1200px) {
        display: none;
     }
}

.time_work::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: -35px;
    margin-top: 5px;
    background: url(/img/time.png) center 0 no-repeat;
}

.time_work {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    
}

.time {
    font-size: 16px;
    font-weight: 450;
    color: #fff;
}

.feedback {
    padding: 0px;
    float: right;
    border: none;
    background-color: transparent;
    

    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        @media screen and (max-width: 1200px) {
            font-size: 12px;
            padding: 10px 15px;
         }
    }

}

.feedback_link_modal {
    border: 1px solid #f47621;
    padding: 10px 25px;    
    &:hover {
        background-color: #f4752118;
        transition: 0.3s;
    }
}

.line_white {
    border: 0.5px solid #ffffff44;
    margin-top: 25px;
}

// info + configurator

.headline_column_left {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    @media screen and (max-width: 320px) {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
}

.subtitle_left_column {
    font-size: 28px;
    font-weight: 450;
    text-transform: uppercase;
    @media screen and (max-width: 320px) {
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }
}

.bg_left_column {
    padding: 50px 0px;
    @media screen and (max-width: 320px) {
        padding: 15px 0px;
    }
}

.bold_orange {
    color: #f47621;
    border-bottom: 2px solid #f47621;
}


.small_text_left_column {
    font-size: 20px;
    color: #fff;
    padding: 10px 0px;
    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

// Configurator

.form_configurator {
    padding: 35px 0px;
}


.configurator {
    padding: 35px 35px 10px;
    background-color: #0000009a;
    border-radius: 12px;
    margin-bottom: 15px;

    @media screen and (max-width: 1199px) {
        margin-bottom: 15px;
    }
}


.headline_info {
    margin-top: -6px;
    margin-left: 13px;

    @media screen and (max-width: 410px) {
        margin-top: -10px;
        margin-left: 0px;
    }

}


.headline_configurator {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;

}

.info {
    cursor: pointer;
    display: inline-block;
}

.popover {
    margin-left: 15px;
}



.subtitle_configurator {
    font-size: 16px;
    font-weight: 350;
    color: #fff;
    margin-bottom: 40px;
}


.form_configurator .form-control {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
}

.form-row {
    margin-bottom: 35px;
}


.jq-selectbox__select {
    padding: 5px 100px 0px 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    height: 45px;
    font-size: 16px;
    width: 300px;
    @media screen and (max-width: 1365px) {
        width: 250px;
    }
    @media screen and (max-width: 320px) {
        width: 215px;
    }
    @media screen and (max-width: 1199px) {
        width: 520px;
    }
    @media screen and (max-width: 1150px) {
        width: 320px;
    }
    @media screen and (max-width: 768px) {
        width: 240px;
    }
    @media screen and (max-width: 568px) {
        width: 240px;
    }

}

.jq-selectbox__select-text {}

.jq-selectbox__select:hover {
    transition: 0.3s;
    box-shadow: none;
    background: none;
    border: 1px solid #f47621;
}

.jq-selectbox__select:active {
    background-color: transparent;
    background: none;

}

.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid #fff;
    box-shadow: none;
    border: 1px solid #f47621;
}



.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 15px;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
}


.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-color: #f47621;
    transition: 0.3s;
}


.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #f47621;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    margin-top: 5px;
    top: 50px;
    overflow: auto;

    @media screen and (max-width: 320px) {
        background-color: #fff;
    }
}

input[type="search"] {
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
}


.jq-selectbox li:hover {
    background-color: #f47621;
    color: #FFF;
    transition: 0.3s;
}

.jq-selectbox__dropdown {
    background: rgb(64, 64, 64);
    background: -moz-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#404040", endColorstr="#000000", GradientType=1);
}

.jq-selectbox__dropdown li {
    color: #f47621;
    line-height: 1.5;
    border-bottom: 0.5px solid #bdbdbd27;
    font-size: 16px;

    @media screen and (max-width: 320px) {
        color: #f47621;
    }
}

.jq-selectbox__select-text {
    width: 150px;
}

.configurator_counter {
    padding: 25px 25px;
    background-color: #0000009a;
    border-radius: 12px;
    margin-bottom: 15px;

    @media screen and (max-width: 573px) {
        margin-bottom: 15px;
        text-align: center;
    }
}

.counter_before {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
}

.item_got {
    font-size: 18px;
    font-weight: 450;
    color: #f47621;
}

.item_got_increased {
    font-size: 18px;
    font-weight: 450;
    color: #f47621;
}


.tuning_button {
    padding: 0px;
    margin-top: 25px;
    float: right;
    border: none;
    background-color: transparent;
    @media screen and (max-width: 1199px) {       
       float: none;    
    } 
    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

}

.tuning_link_modal {
    border: 1px solid #f47621;
    padding: 10px 45px;

    &:hover {
        background-color: #f4752118;
        transition: 0.3s;
    }
}