
.bg_image_contacts {
    background: url(/img/img_contact.png) no-repeat;
    background-size: cover;
    padding: 50px 0px 50px;
}

.headline_content_contacts{
    font-size: 36px;
    font-weight: 550;
    color: #f47621;  
    padding: 0px 0px 25px;
}



.headline_content_contacts::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-bottom: 1px solid #f47621;
    width: 50px;
    margin-top: -3px;  
    margin-left: 35px;
}

.head_number_contacts{
    font-size: 18px;
    font-weight: 450;
    color: #fff;  
    padding: 0px 0px 25px;  
}

.number_contacts{
    font-size: 28px;
    font-weight: 450;
    color: #fff;    
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
color: #f47621;
transition: 0.3s;
        }
    }
}

.consultant_text_contacts{
    font-size: 16px;
    color: #f47621; 
}

.line_contacts{
    border: 0.5px solid rgba(255, 255, 255, 0.281);
    margin-top: 15px;
    width: 100px;
    margin-bottom: 15px;
}

.headline_adres{
font-size: 18px;
font-weight: 350;
color: #fff;
margin-bottom: 0px;
margin-top: 25px;
}

.adres_contacts{
font-size: 18px;
font-weight: 450;
color: #fff;
margin-top: 10px;
margin-bottom: 35px;
}

.social_network{   
    margin-top: 25px;
    width: 180px;
    display: inline-block;
    margin-right: -25px;
    a{
        border: 1px solid #f47621;
        border-radius: 25px;
        padding: 10px 15px;  
        color: #fff;
        text-decoration: none;
        font-size: 14px; 
        &:hover{
           background-color: #f47621; 
           transition: 0.4s;
        }     
    }
}

.inst_icon{
margin-right: 10px;
margin-top: -3px;
}

.map_contacts{
    @media screen and (max-width: 1200px) {
        margin-top: 35px;       
     }
}
