// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 360px) {
    .container {
        max-width: 1500px;
    }
}

.headline_content {
    font-size: 50px;
    font-weight: 550;
    color: #f47621;
    padding: 0px 0px 25px;
}
