// Меню
.menu__background {
   padding: 25px 0px;
}
    

.menu__navbar ul {
    color: #fff;
    line-height: 1.8;
    margin-top: 15px;    
    margin-bottom: 0px;
    font-size: 20px;      
    justify-content: space-between;   

}


.menu__navbar .navbar .nav-item .nav-link {
    padding: 0;
    &:hover{
        color: #f47621;   
        transition: 0.3s;
    }
}

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
    // padding: 0;
    margin-right: 35px;
}

.navbar{
    padding: 0px;
    
}

.navbar-toggler{
   padding: 0px;
    border: transparent;
}

// Конец меню
