/* Modal Window */
.modal {
    z-index: 100001;
}

.modal-dialog {
    max-width: 600px;  
    @media screen and (max-width: 576px) {
       width: 100;
    }
}

.modal .custom-control-label a {
    text-decoration: underline;
    color: #fff;
}

.modal .custom-control-label a:hover {
    text-decoration: none;
}

.modal-header {
    border-bottom: none;
    background-color: #ffffff;
    color: #fff;
}

.modal-footer {
    justify-content: flex-start;
    border-top: none;
    background-color: #000;
    padding: 45px 45px 0px;
    @media screen and (max-width: 450px) {
        padding: 25px 25px 0px;
    }

}

.modal-content {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 0;
    border: none;
}

.form-control-sm {
    height: 35px;
    border: transparent;
    border-radius: 0;
}

.modal-content .form-control {
    // border: 1px #333333 solid;
    background-color: transparent;
border: 1px solid #f18741;
border-radius: 12px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;

    &:focus {
        background-color: #f5f5f521;
        box-shadow: none;
    }
}

.modal-content .form-control option {
    color: #000;
}

.modal-content .custom-control-label::before {
    background-color: transparent;
    border: 1px solid #3f3f3f;
    a{
        color: #fff;
    }
}

.modal-content .custom-control-input:checked~.custom-control-label::before {
    color: #3f3f3f;
    background-color: #3f3f3f;
   
}

.modal-header-feedback {
    padding: 0px;
}

.modal-header {
    position: relative;
    display: block;
    border-radius: 0;
    padding: 45px;
}

.custom-control-label::after {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
   margin-left: -13px;
   margin-top: 15px;
}

.custom-control-checkbox {
    padding-left: 0.9rem;
    cursor: pointer;
}

.modal-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.modal-header {
    background-color: #000000;
    @media screen and (max-width: 450px) {
        padding: 35px 25px 15px;
    }
}


.modal-body {
    background-color: #000000;
    padding: 0px 45px 25px;
    color: #b96228;

    @media screen and (max-width: 450px) {
        padding: 0px 25px 15px;
    }
}

.modal-header p {
    font-size: 20px;
    line-height: 1.4;
    color: #b96228;
}


.modal-header .close {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 2.5rem;
    font-weight: 100;
    opacity: 1;
    line-height: inherit;
    padding: 1rem;
    margin: 0;      
    &:focus{
        outline: none;
    }
    @media screen and (max-width: 320px) {
        margin-right: -25px;
    }
}


input~label[for="soglasie"] {
    width: 100%;
    font-size: 16px;
    margin: 25px 0px 0px 10px;
    padding: 0px;
}

input~label[for="sogl"] {
    width: 100%;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
    padding: 0px;
}

.button__to__send_zayavka__formmodal {
    background-color: #f47621;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 45px;
    &:hover{
        background-color: #f18741; 
    }
    &:active{
        background-color: #b96228; 
    }
    @media screen and (max-width: 450px) {
        padding: 12px 15px;
        margin-bottom: 0px;       
    }
}

.modal__title__small__text{
    font-size: 16px;
    font-weight: 350;
    color: #fff;
}

