/* Modal Window */
.modal {
    z-index: 100001;
}

.modal-dialog {
    max-width: 1400px;
}

.modal .custom-control-label a {
    text-decoration: underline;
}

.modal .custom-control-label a:hover {
    text-decoration: none;
}

.modal-header {
    border-bottom: none;
    background-color: #ffffff;
    color: #fff;
    border-top: 15px solid #50b3ff;
}

.modal-footer {
    justify-content: flex-start;
    border-top: none;
    padding: 0px 45px 75px;

    @media screen and (max-width: 450px) {
        padding: 0px 35px 35px;
    }

}

.modal-content {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 0;
    border: none;
}

.form-control-sm {
    height: 35px;
    border: transparent;
    border-radius: 0;
}

.modal-content .form-control {
    // border: 1px #333333 solid;
    background-color: transparent;
    border-bottom: 1px solid rgb(182, 182, 182);
    color: #333333;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;

    &:focus {
        background-color: #f5f5f5;
        box-shadow: none;
    }
}

.modal-content .form-control option {
    color: #000;
}

.modal-content .custom-control-label::before {
    background-color: transparent;
    border: 1px solid #3f3f3f;
}

.modal-content .custom-control-input:checked~.custom-control-label::before {
    color: #3f3f3f;
    background-color: #3f3f3f;
}

.modal-header-feedback {
    padding: 0px;
}

.modal-header {
    position: relative;
    display: block;
    border-radius: 0;
    padding: 45px;
}

.custom-control-label::after {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

.custom-control-checkbox {
    padding-left: 0.9rem;
    cursor: pointer;
}

.modal-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 200;
    color: #000;
}

.modal-header {

    // background-color: #838383;
    @media screen and (max-width: 450px) {
        padding: 35px 25px 15px;
    }
}


.modal-body {
    padding: 0px 45px 25px;
    color: #000;

    @media screen and (max-width: 450px) {
        padding: 0px 25px 15px;
    }
}

.modal-header p {
    font-size: 18;
    line-height: 1.8;
    color: #000;
}


.modal-header .close {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 2.5rem;
    font-weight: 100;
    opacity: 1;
    line-height: inherit;
    padding: 1rem;
    margin: 0;

    @media screen and (max-width: 320px) {
        margin-right: -25px;
    }
}


input~label[for="soglasie"] {
    width: 100%;
    font-size: 16px;
    margin: 25px 0px 0px 10px;
    padding: 0px;
}

input~label[for="sogl"] {
    width: 100%;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
    padding: 0px;
}

.button__to__send_zayavka__formmodal {
    background-color: #50b3ff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 45px;
    &:hover{
        background-color: #62b9fc;
    }
    &:active{
        background-color: #3987c2;
    }
    @media screen and (max-width: 450px) {
        padding: 15px;
    }
}

