.bg_image_questions{
    background: url(/img/img_questions.png) no-repeat;
    background-size: initial;
    padding: 50px 0px 65px;
    @media screen and (max-width: 576px) {
        background-size: initial; 
      }
      @media screen and (max-width: 320px) {        
        padding: 15px 0px 35px;
       }   
}

.headline_content_questions{
    font-size: 50px;
    font-weight: 550;
    color: #f47621;  
    padding: 0px 0px 25px;
    @media screen and (max-width: 320px) {        
        font-size: 24px;
       } 
}



.headline_content_questions::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-bottom: 1px solid #f47621;
    width: 50px;
    margin-top: 5px;  
    margin-left: 35px;
    @media screen and (max-width: 576px) {
        display: none;  
      }
}

.accordion .btn{
    font-size: 20px;
    text-decoration: none;
    color: #f47621;
    @media screen and (max-width: 1199px) {
        font-size: 14px;       
     }
    @media screen and (max-width: 768px) {
        font-size: 12px;       
     }
    &:hover{
        color: #fc9551;
    }
    
}

.card{
    cursor: pointer;
    &:hover{
        
    }
}

.accordion .btn{
    @media screen and (max-width: 768px) {
        font-size: 10px;       
     }
}

.card-header{  
    background: rgb(64, 64, 64);
    background: -moz-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#404040", endColorstr="#000000", GradientType=1);
    @media screen and (max-width: 768px) {
        padding: 5px;      
     }
    }


.card-body{
    background: rgb(64, 64, 64);
    background: -moz-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#404040", endColorstr="#000000", GradientType=1);
    border: 1px solid #f47621;
    color: #fff;
    font-size: 16px;  
    font-weight: 350;
    line-height: 1.8; 
    padding: 15px 25px;    

}

.box_feedback_questions{
    text-align: center;
}


.button_for_text_head{
    font-size: 24px;  
    padding: 35px 0px 0px; 
    color: #fff;
}
.use_the_form{
    font-size: 18px;
    font-weight: 450;
    margin-top: 15px;    
    color: #fff;  
}

.feedback_questions {
    padding: 0px;
    margin-top: 30px;    
    border: none;   
    background-color: transparent;
    @media screen and (max-width: 1199px) {       
       float: none;    
    } 
    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

}

.feedback_link_modal_questions {
    background-color: #f47621;;
    padding: 10px 45px;
    text-align: center;

    &:hover {
        background-color: #d37231;
        transition: 0.3s;
    }
}   


.text_test{
    font-size: 26px;
    line-height: 1.8;
    font-weight: 450;
    color: rgba(41, 88, 175, 0.993);
}